<footer
  id="component-footer"
  class="usa-footer usa-footer--big"
  role="contentinfo">
  <div class="grid-container">
    <div id="touchpoints-yes-no-form"></div>
  </div>
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
</footer>
<script src="https://touchpoints.app.cloud.gov/touchpoints/0efb2db6.js" async></script>

<script>
  function setTouchpointsListeners() {
    document.addEventListener('onTouchpointsModalClose', function() {
        console.log("fired onTouchpointsModalClose")
    });

    document.addEventListener('onTouchpointsModalOpen', function() {
      console.log("fired onTouchpointsModalOpen")
    });

    document.addEventListener('onTouchpointsFormSubmission', function() {
      console.log("fired onTouchpointsFormSubmission")
    });

    document.addEventListener('onTouchpointsFormPreviousPage', function(e) {
      console.log("fired onTouchpointsFormPreviousPage", e.page)
    });

    document.addEventListener('onTouchpointsFormNextPage', function(e) {
      console.log("fired onTouchpointsFormNextPage", e.page)
    });
  }

  document.addEventListener('onTouchpointsFormLoaded', (e) => {
    // load for a specific form
    if (e.detail && e.detail.formComponent.formComponent().getAttribute("data-touchpoints-form-id") === '0efb2db6' ) {
      console.log("onTouchpointsFormLoaded")
      const yesButton = e.detail.formComponent.formComponent().querySelector('.submit-button .usa-button[value="1"]');
      const noButton = e.detail.formComponent.formComponent().querySelector('.submit-button .usa-button[value="0"]');

      yesButton.addEventListener('click', (event) => {
         event.preventDefault();
          gas4('was_this_helpful_submit', {
            'event_category': 'cx_feedback',
            'event_action': 'was_this_page_helpful2',
            'event_label': "yes",
          })
      });

      noButton.addEventListener('click', (event) => {
          event.preventDefault();
          gas4('was_this_helpful_submit', {
            'event_category': 'cx_feedback',
            'event_action': 'was_this_page_helpful2',
            'event_label': "no",
          })
      });
    }
  });
</script>