{% for org in site.data.anchor.anchor_data %}
<div class="component-anchor">
  <div class="usa-accordion">
    <div class="grid-container">
      <div class="org-short">
        <div class="grid-row grid-gap-2">
          <div class="grid-col-12 tablet:grid-col-8">

            <div class="org-copy">
              <img class="org-img" src="{{ org.agency_logo | relative_url }}" alt="GSA Logo">
              <p><a href="#" title="{{ org.site_name }}">{{ org.site_name }}</a> is a product of the <a href="{{ org.org_primary_url }}" title="{{ org.org_primary }}">{{ org.org_primary }}</a>{% if org.org_primary %}, and managed by <a href="{{ org.org_secondary_url }}" title="{{ org.org_secondary }}">{{ org.org_secondary }}</a>{% endif %}</p>
            </div>

          </div>

          <div class="grid-col-12 tablet:grid-col-3 tablet:grid-offset-1">

            <button class="btn-learn-more usa-button usa-button--outline usa-button--inverse usa-accordion__button" aria-hidden="true" aria-expanded="false" aria-controls="org-details{% if include.name %}-{{ include.name }}{% endif %}">
              <span>Learn&nbsp;more</span>
            </button>

          </div>
        </div>
      </div>

      <div class="org-expanded" id="org-details{% if include.name %}-{{ include.name }}{% endif %}" hidden>
        <div class="grid-row grid-gap-2">
          <div class="grid-col-12 tablet:grid-col-6">
            <div class="org-copy">
              <p>{{ org.org_primary_bio }} <a class="more" href="{{ org.org_primary_url }}" title="Learn more about {{ org.org_primary }}"><span>Read more</span>&nbsp;»</a></p>
              {% if org.org_secondary_bio %}
              <p>{{ org.org_secondary_bio }} <a class="more" href="{{ org.org_secondary_url }}" title="Learn more about {{ org.org_secondary }}"><span>Read more</span>&nbsp;»</a></p>
              {% endif %}
            </div>
          </div>
          <div class="grid-col-12 tablet:grid-col-5 tablet:grid-offset-1">
            <div class="org-links">
              <p>For more information about the GSA, visit <a href="https://gsa.gov">https://gsa.gov/about</a></p>
              <ul>
                <li><a href="#" title=""><span>About the GSA</span>&nbsp;»</a></li>
                <li><a href="#" title=""><span>Submit a FOIA request</span>&nbsp;»</a></li>
                <li><a href="#" title=""><span>Report fraud, waste, or abuse</span>&nbsp;»</a></li>
                <li><a href="#" title=""><span>View No FEAR Act data (EEO)</span>&nbsp;»</a></li>
                <li><a href="#" title=""><span>View budget and performance reports</span>&nbsp;»</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-anchor-support">
    <div class="grid-container">
      <div class="grid-row grid-gap-2">
        <div class="grid-col-12 tablet:grid-col-8">
          <p><i class="fas fa-comment fa-flip-horizontal"></i> Have a question about government services? <a class="usa-button usa-button-sm" href="#">Contact USA.gov</a></p>
        </div>
        <div class="grid-col-12 tablet:grid-col-3 tablet:grid-offset-1">

        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
