<footer
  id="component-footer"
  class="usa-footer usa-footer--big"
  role="contentinfo">
  <div class="grid-container">
    <div id="touchpoints-yes-no-form"></div>
  </div>
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
</footer>
<script src="https://touchpoints.app.cloud.gov/touchpoints/0efb2db6.js" async></script>

<script>
  function setTouchpointsListeners() {
    document.addEventListener('onTouchpointsModalClose', function() {
        console.log("fired onTouchpointsModalClose")
    });

    document.addEventListener('onTouchpointsModalOpen', function() {
      console.log("fired onTouchpointsModalOpen")
    });

    document.addEventListener('onTouchpointsFormSubmission', function() {
      console.log("fired onTouchpointsFormSubmission")
    });

    document.addEventListener('onTouchpointsFormPreviousPage', function(e) {
      console.log("fired onTouchpointsFormPreviousPage", e.page)
    });

    document.addEventListener('onTouchpointsFormNextPage', function(e) {
      console.log("fired onTouchpointsFormNextPage", e.page)
    });
  }

  document.addEventListener('onTouchpointsFormLoaded', () => {
    console.log("onTouchpointsFormLoaded")
    const yesButton = document.querySelector('input.usa-button[value="yes"]');
    const noButton = document.querySelector('input.usa-button[value="no"]');

    yesButton.addEventListener('click', (event) => {
        event.preventDefault();
        gas4('was_this_page_helpful', {
          'choice' : 'yes',
          'reason' : 'reasonYes',
          'section' : 'sectionYes',
        })

        dataLayer.push({
          'event': 'dap_event',
          'eventCategory': 'cx_feedback',
          'eventAction': 'was_this_page_helpful',
          'eventLabel': 'yes'
        });

        dataLayer.push({
          'event': 'dap_event',
          'event_category': 'cx_feedback',
          'event_action': 'was_this_page_helpful',
          'event_label': 'yes'
        });
    });

    noButton.addEventListener('click', (event) => {
        event.preventDefault();
        gas4('was_this_page_helpful', {
          'choice' : 'no',
          'reason' : 'reasonNo',
          'section' : 'sectionNoo',
        })

        dataLayer.push({
          'event': 'dap_event',
          'eventCategory': 'cx_feedback',
          'eventAction': 'was_this_page_helpful',
          'eventLabel': 'no'
        });

        dataLayer.push({
          'event': 'dap_event',
          'event_category': 'cx_feedback',
          'event_action': 'was_this_page_helpful',
          'event_label': 'no'
        });
    });
  });
</script>