<div id="component-anchor">
  <div class="grid-container">
    <div class="grid-row grid-gap-2">
      <div class="grid-col-12 tablet-lg:grid-col-8">

        <div id="org-short">
          <img class="org-img" src="https://digital.gov/img/gsa-logo-w50.png" alt="">
          <p class="org-copy"><a href="#" title="{{ .site.title }}">{{ .site.title }}</a> is a product of the <a href="#" title="">Technology Transformation Services</a>, and maintained by the <a href="#" title="">Office of Products and Programs</a></p>
        </div>

      </div>

      <div class="grid-col-12 tablet-lg:grid-col-3 tablet-lg:grid-offset-1">

        <button class="usa-button usa-button--outline usa-button--inverse" aria-hidden="true" aria-expanded="false" aria-controls="org-expanded">
          <span>Learn more</span> <img class="arrow-down" src="/assets/uswds/img/angle-arrow-down-hover.svg" alt="">
        </button>

      </div>
    </div>

    <div id="org-expanded" hidden>
      <div class="grid-row grid-gap-2">
        <div class="grid-col-12 tablet-lg:grid-col-6">
          <div class="org-copy">
            <p>As part of <a href="#" title="">GSA’s Technology Transformation Services</a> (TTS), we apply modern methodologies and technologies to improve the public’s experience with government. We help agencies make their services more accessible, efficient, and effective with modern applications, platforms, processes, personnel, and software solutions. <a class="more" href="#" title=""><span>Read more</span>&nbsp;»</a></p>

            <p>The Office of Products and Programs (OPP) is a portfolio of products and services that help agencies improve delivery of information and services to the public. <a class="more" href="#" title=""><span>Read more</span>&nbsp;»</a></p>
          </div>
        </div>
        <div class="grid-col-12 tablet-lg:grid-col-4 tablet-lg:grid-offset-2">
          <div class="org-links">
            <p>For more information about the GSA, visit <a href="https://gsa.gov">https://gsa.gov/about</a></p>
            <ul>
              <li><a href="#" title=""><span>About the GSA</span>&nbsp;»</a></li>
              <li><a href="#" title=""><span>Submit a FOIA request</span>&nbsp;»</a></li>
              <li><a href="#" title=""><span>Report fraud, waste, or abuse</span>&nbsp;»</a></li>
              <li><a href="#" title=""><span>View No FEAR Act data (EEO)</span>&nbsp;»</a></li>
              <li><a href="#" title=""><span>View budget and performance reports</span>&nbsp;»</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="component-anchor-support">
  <div class="grid-container">
    <div class="grid-row grid-gap-2">
      <div class="grid-col-12 tablet-lg:grid-col-8">
        <p>Have a question? <a class="usa-button usa-button-sm" href="#">Contact USA.gov support</a> or call <a href="tel:1-844-872-4681">1-844-872-4681</a></p>
      </div>
      <div class="grid-col-12 tablet-lg:grid-col-3 tablet-lg:grid-offset-1">
        <button class="usa-button usa-button-language usa-button--unstyled">
          <span>En Español</span>
          <img class="arrow-down" src="/assets/uswds/img/angle-arrow-down-hover.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</div>
