<div class="usa-overlay"></div>
<header class="usa-header usa-header--extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text"><a href="{{ site.baseurl }}/" title="Home" aria-label="Home">{{ site.title }}</a></em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close"><img src="{{ site.baseurl }}/assets/uswds/img/close.svg" alt="close"></button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="#"><span>Example</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="#"><span>Example</span></a>
        </li>
      </ul>
      <div class="usa-nav__secondary display-none">
        <ul class="usa-nav__secondary-links">
          <li class="usa-nav__secondary-item">
            <a href="">Secondary link</a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">Another secondary link</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
