<!-- * * * * * ======================= -->
<!-- * * * * * ======================= -->
<!-- * * * * * ======================= -->
<!-- * * * * * ======================= -->
<!-- ================================= -->
<!-- ================================= -->
<!-- ================================= -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/img/touchpoints-logo.png" />
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/assets/uswds/css/styles.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="preload" href="{{ "/assets/uswds/js/uswds.min.js" | relative_url }}" as="script">

  <meta name="keywords" content="Touchpoints, .gov, U.S. Federal Government, GSA, CX, Customer Experience, Data Collections, Service Design">
  <meta name="og:locale" content="en_US">
  <meta name="og:site_name" content="Touchpoints">
  <meta name="og:type" content="website">
  <meta name="og:title" content="Touchpoints">
  <meta name="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="og:url" content="https://touchpoints.digital.gov">
  <meta name="og:image" content="{{ site.baseurl }}/assets/img/touchpoints-card.png">
  <meta name="og:image:width" content="550">
  <meta name="og:image:height" content="288">
  <meta name="og:image:alt" content="Touchpoints logo">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Touchpoints">
  <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="twitter:image" content="{{ site.baseurl }}/assets/img/touchpoints-card.png">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TSRQBRG');</script>
  <!-- End Google Tag Manager -->

  <style>
  #touchpoints-yes-no-form form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  </style>
</head>
