.component-anchor{
  @include u-bg('blue-warm-90');
  @include u-text('white');

  h3{
    @include u-font('sans', 'md');
  }

  .org-short{
    @include u-padding-y(3);
    .org-copy{
      @include u-display('flex');
      @include u-flex('align-center');
      p{
        @include u-margin(0);
      }
      .org-img{
        @include u-margin-right('105');
        @include u-width(7);
      }
    }
  }

  .org-copy{
    @include u-line-height('sans', 3);
    @include u-text('white');
    p{
      @include u-margin-top(0);
    }
    a{
      @include u-text('white');
      // forcing links in the org text to not wrap
      @include u-text('no-wrap');
      @include u-overflow('hidden');
    }
    .more{
      @include u-text('no-underline');
      span{
        @include u-text('underline');
      }
    }
  }

  .org-expanded{
    @include u-margin-bottom(2);
    .org-links{
      @include u-padding-x(2);
      @include u-padding-right(1);
      @include u-padding-top('105');
      @include u-padding-bottom(2);
      @include u-bg('blue-warm-80');
      @include u-font('sans', '2xs');
      @include u-text('white');
      p{
        @include u-margin-top(0);
      }
      ul{
        @include u-margin(0);
        @include u-padding-left('205');
        li{
          @include u-margin-bottom('05');
          a{
            @include u-text('no-underline');
            span{
              @include u-text('underline');
            }
          }
        }
      }
      a{
        @include u-text('white');
      }
    }
  }

  button.btn-learn-more{
    @include u-margin(0);
    @include u-padding-y('105');
    @include u-padding-left(2);
    @include u-padding-right(6);
    @include u-float('right');
    @include u-text('white');
    @include u-border('white');
    @include u-radius('md');
    @include u-display('flex');
    @include u-flex('align-center');
    background: none;
  }
  .usa-accordion__button[aria-expanded=false]{
    background-image: url('../img/angle-arrow-down-white.svg'),-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 7.4em center;
  }
  .usa-accordion__button[aria-expanded=true]{
    background-image: url('../img/angle-arrow-up-white.svg'),-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 7.4em center;
  }

}


.component-anchor-support{
  @include u-padding-y(1);
  @include u-bg('black');
  @include u-text('white');
  p{
    @include u-margin-y('05');
    @include u-line-height('sans', 2);
    a{
      @include u-text('white');
    }
    i{
      @include u-margin-right('05');
    }
    .usa-button-sm{
      @include u-bg('blue-40v');
      &:hover{
        @include u-bg('blue-50v');
      }
    }
  }
  .usa-button-language{
    @include u-margin-right('2px');
    @include u-padding-y(1);
    @include u-padding-x(2);
    @include u-float('right');
    @include u-text('white');
    @include u-text('no-underline');
    @include u-display('flex');
    @include u-flex('align-center');
  }
}

.usa-button-sm{
  @include u-margin-x('05');
  @include u-padding-y('05');
  @include u-padding-x('105');
}
.arrow-down{
  @include u-margin-left('105');
  @include u-width('105');
}
