.usa-prose{
  section{
    .lead{
      @include u-font('sans', 'lg');
      @include u-measure(2);
    }
    h1{
      @include u-bg('red-40v');
    }
  }
}

.usa-navbar {
  height: inherit;
}
.usa-logo__text {
  margin: 10px 0;
}
.usa-logo__text a {
  display: flex;
}
