<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSRQBRG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="paper">
    {% include gov-banner.html %}
    {% include header.html %}

    {{ content }}

    {% include component-footer.html %}
    {% include component-anchor.html name="digitalgov" %}
  </div>

  <script
  src="{{ site.baseurl }}/assets/js/jquery-3.6.0.min.js"
  ></script>
  <script src="{{ "/assets/uswds/js/uswds.min.js" | relative_url }}"></script>

  <script>
    document.addEventListener('onTouchpointsModalOpen', function() {
      // ga('send', 'event', 'category', 'action', 'label');
      // ga('send', 'event', 'touchpoints', 'modalOpen', 'label');

      alert('hi, tp modal is opening');

      dataLayer.push({
        'event': 'customEvent',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsModalOpen',
        'eventLabel': 'label'
      });

      console.log("fired onTouchpointsModalOpen")
    });

    document.addEventListener('onTouchpointsModalClose', function() {
      // ga('send', 'event', 'category', 'action', 'label');
      // ga('send', 'event', 'touchpoints', 'modalOpen', 'label');

      dataLayer.push({
        'event': 'customEvent',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsModalClose',
        'eventLabel': 'label'
      });

      console.log("fired onTouchpointsModalClose")
    });

    document.addEventListener('onTouchpointsFormSubmission', function() {
      dataLayer.push({
        'event': 'customEvent',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsFormSubmission',
        'eventLabel': 'label'
      });

      console.log("fired onTouchpointsFormSubmission")
    });

  </script>
</body>
</html>
