<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSRQBRG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="paper">
    {% include gov-banner.html %}
    {% include header.html %}

    {{ content }}

    {% include component-footer.html %}
    {% include component-anchor.html name="digitalgov" %}
  </div>

  <script
  src="{{ site.baseurl }}/assets/js/jquery-3.6.0.min.js"
  ></script>
  <script src="{{ "/assets/uswds/js/uswds.min.js" | relative_url }}"></script>

  <script>
    document.addEventListener('onTouchpointsFormLoaded', function() {
      dataLayer.push({
        'event': 'dap_event',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsFormLoaded'
      });
    });

    document.addEventListener('onTouchpointsModalOpen', function() {
      dataLayer.push({
        'event': 'dap_event',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsModalOpen'
      });
    });

    document.addEventListener('onTouchpointsModalClose', function() {
      dataLayer.push({
        'event': 'dap_event',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsModalClose'
      });
    });

    document.addEventListener('onTouchpointsFormSubmission', function() {
      dataLayer.push({
        'event': 'dap_event',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsFormSubmission'
      });
    });

    document.addEventListener('onTouchpointsFormSubmissionSuccess', function() {
      dataLayer.push({
        'event': 'dap_event',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsFormSubmissionSuccess'
      });
    });

    document.addEventListener('onTouchpointsFormSubmissionError', function() {
      dataLayer.push({
        'event': 'dap_event',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsFormSubmissionError'
      });
    });

    document.addEventListener('onTouchpointsFormNextPage', function() {
      dataLayer.push({
        'event': 'dap_event',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsFormNextPage'
      });
    });

    document.addEventListener('onTouchpointsFormPreviousPage', function() {
      dataLayer.push({
        'event': 'dap_event',
        'eventCategory': 'touchpoints',
        'eventAction': 'onTouchpointsFormPreviousPage'
      });
    });

  </script>
</body>
</html>
